@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,400;1,300;1,400&display=swap');

*{
    margin: 0%;
    padding: 0%;
    box-sizing: border-box;
    font-family: sans-serif, 'Poppins';
}

body{
    background-color: #F5F5DC;
    color: black;
}       

html{
    scroll-behavior: smooth;
}

html::-webkit-scrollbar-thumb{
    background-color: #555;
    border-radius: 5rem;
}

html::-webkit-scrollbar{
    width: 0.7rem;
}

html::-webkit-scrollbar-track{
    background-color: inset 0 0 6px rgb(0, 0, 0.3);
    background-color: lightgray;
}

main{
    width: 99 1vw;
    height: 100vh;
}

nav{
    display: flex;
    align-items: center;
    justify-content: space-between ;
    height: 9%;
    padding: 1%;
    background-color: white;
}

nav h1{
    text-align: center;
}

nav img{
    width: 7%;
}

.nav-links{
    background-color: white;
}
.nav-links ul{
    font-size: 18px;
    display: flex;
    list-style-type: none;
}

.nav-links li a{
    text-decoration: none;
    margin:  0 13px;
    color: black;
}

/*Zoom part*/
.nav-links li::after{
    content: "";
    display: block;
    width: 0%;
    height: 3px;
    background-color: #383838;
    margin: auto;
    transition: 0.5s;
}

/*ul li hover*/   
.ul li:hover::after{
    width: 80%;
}

.web-title-act{
    padding-right: 30%;
    font-size: 20px;
    font-weight: lighter;
    cursor: pointer;
}

.front-page-background{
    background-image: url(./images/23.jpg);
    background-size: cover;
    background-position: center;
    padding-top: 5px;
    height: 85%;
    z-index: 7;
}

/*.home-iscp-web p{
    font-size: 16px;
    font-weight: lighter;
    text-align: center;
    padding: 4% 10%;
}*/

.main-page{
    padding: 3%;
}

/*.about-web-iscp h1{
    font-size: 35px;
    color: #ffde59;
    text-align: center;
    letter-spacing: 2px;
}*/

section{
    display: block;
    flex-basis: 50%;
    padding: 24px;
}

.mxyvt{
    display: table-cell;
    vertical-align: middle;
    width: 80%;
}

.ceny8b{
    height: 600px;
    padding-left: 6%;
}

/*definations and picture*/
.row {
    display: flex;
}

.title{
    padding-top: 9%;
    justify-content: center;
    text-align: center;
    font-style: italic;
    font-weight: bold;
    font-size: x-large;
}

.web-col-1{
    flex-basis: 50%;
    height: 80%;
}

.web-col-1 h1{
    text-align: center;
    justify-content: center;
    font-size: 30px;
}

.web-col-1 p{
    padding-top: 8%;
    font-size: 16px;
    text-align: justify;
    text-justify: inter-word;
}

.col-1{
    padding-top: 13%;
    padding-bottom: 20%;
    padding-left: 0;
    padding-right: 0;
}

.col-1 img{
    border-radius: 10px;
    width: 550px;
    height: 360px;
    margin-left: 50px;
    margin-bottom: 10%;
    display: flex;
    -webkit-box-shadow: 14px 20px 20px -6px rgba(0,0,0,0.75);
    -moz-box-shadow: 14px 20px 20px -6px rgba(0,0,0,0.75);
    box-shadow: 14px 20px 20px -6px rgba(0,0,0,0.75);
    cursor: pointer;
}

.web-col-01 h1 {
    text-align: center;
    color: rgb(0, 0, 0);
    text-decoration: underline gray;
    padding-top: 34%;
}

.web-col-01 p{
    font-size: 16px;
    text-align: justify;
}

.web-col-02{
    padding-top: 25%;
}

.web-col-02 h1{
    font-size: 30px;
    color: rgb(0, 0, 0);
    text-decoration: underline gray;
    padding-top: 10%;
}

.web-col-02 p{
    font-size: 16px;
    text-align: justify;
}

.web-col-03{
    padding-top: 25%;
}

.web-col-03 h1{
    font-size: 30px;
    color: rgb(0, 0, 0);
    text-decoration: underline gray;
    padding-top: 6%;
}

.web-col-03 p{
    font-size: 16px;
    text-align: justify;
}

.web-col-04{
    padding-top: 12%;
}
.web-col-04 h1{
    font-size: 30px;
    color: rgb(0, 0, 0);
    text-decoration: underline gray;
    padding-top: 10%;
}

.web-col-04 p{
    font-size: 16px;
    text-align: justify;
    padding-bottom: 10%;
}

.recipes{
    border-radius: 20px;
}

.recipes h1{
    font-size: 50px;
    color: black;
    text-align: center;
    letter-spacing: 2px;
}

.lechon h1{
    text-align: center;
    padding-top: 6%;
    font-size: 35px;
    font-style: italic;
}

.lechon_recipe{
    padding-top: 3%;
    font-size: 1.3em;
    text-align: justify;
    text-transform: capitalize;
    padding-bottom: 3%;
}

.ngohiong_recipe h1{
    text-align: center;
    padding-top: 6%;
    font-size: 35px;
    font-style: italic;
}

.ngohiong-recipe{
    padding-top: 3%;
    font-size: 1.3em;
    text-align: justify;
    text-transform: capitalize;
    padding-bottom: 3%;
}

.balbacua_recipe h1{
    text-align: center;
    padding-top: 6%;
    font-size: 35px;
    font-style: italic;
}

.balbacua-recipe{
    padding-top: 3%;
    font-size: 1.3em;
    text-align: justify;
    text-transform: capitalize;
    padding-bottom: 3%;
}
.paklay_recipe h1{
    text-align: center;
    padding-top: 6%;
    font-size: 35px;
    font-style: italic;
}

.paklay-recipe{
    padding-top: 3%;
    font-size: 1.3em;
    text-align: justify;
    text-transform: capitalize;
    padding-bottom: 3%;
}


/*Contact form*/
.contact{
    width: 100%;
    height: 100vh;
}

.contact h2{
    margin: 50px 0px;
}

.contact-container{
    display: flex;
    align-items: center;
    flex-direction: column;
    color: white;
}

.contact-container h2{
    font-size: 30px;
    padding: 2%;
    text-decoration: underline yellowgreen;
}

.contact-container form{
    border-radius: 8px;
    padding: 15px;
    display: flex;
    flex-direction: column;
    gap: 10px;
    width: 400px;
    align-items: center;
    justify-content: center;
    box-shadow: rgba(0, 0, 0, 0.25) 0px 54px 55px, rgba(0, 0, 0, 0.12) 0px -12px 30px, rgba(0, 0, 0, 0.12) 0px 4px 6px, rgba(0, 0, 0, 0.17) 0px 12px 13px, rgba(0, 0, 0, 0.09) 0px -3px 5px;
}

.contact-container form input{
    font-size: 12px;
    border: none;
    outline: none;
    padding: 10px;
    border-radius: 6px;
    width: 290px;
    transition: width 2s;
}

.contact-container form input:hover{
    width: 350px;
}

.contact-container form textarea{
    font-size: 12px;
    padding: 10px;
    border: none;
    border-radius: 6px;
    outline: none;
    width: 300px;
    transition: width 2s;
}

.contact-container form textarea:hover{
    width: 350px;
}

.contact-container form button{
    font-size: 13px;
    border: none;
    border-radius: 5px;
    padding: 10px 15px;
    background-color: black;
    color: white;
    cursor: pointer;
    width: 80px;
    transition: width .4s;
}

.contact-container form button:hover{
    width: 100px;
}

/*social media*/
.social-media i:hover{
    color: rgb(24, 24, 24);
}

.social-media i{
    font-size: 25px;
    margin: 10px;
    color: rgb(0, 0, 0);
}

footer{
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    padding: 10px;
}

.footerline{
    width: 100%;
    height: 1px;
    background-color: #202020;
}